<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Opps!</h1>
    <p class="lead">Wrong password !</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Back</a>

  </div>
</div>

<%- include('partials/footer') %>
